<h3>Batik Parang Kusumo</h3>
<h4>ꦧꦠꦶꦏ꧀ꦥꦫꦁꦏꦸꦱꦸꦩ</h4>
<p>Motif batik ini bermakna jika suatu kehidupan harus didasari dengan perjuangan untuk mencapai kebahagiaan lahir dan batin, ibarat keharuman kusuma (bunga).</p>
<p>Bagi masyarakat Jawa, satu hal yang paling utama dari kehidupan bermayarakat adalah keharuman (kebaikan) pribadinya, tanpa meninggalkan norma-norma yang berlaku dan sopan santun. Manusia harus mematuhi aturan hidup bermasyarakat dan taat kepada perintah Tuhan Yang Maha Esa. Batik tersebut merupakan wujud interpretasi berbagai norma itu.</p>
