<h3>Batik Truntum</h3>
<h4>ꦧꦠꦶꦏ꧀ꦠꦿꦸꦤ꧀ꦠꦸꦩ꧀</h4>
<p>Motif batik ini sebenarnya dibuat oleh Kanjeng Ratu Kencana (permaisuri Sri Susuhunan Pakubuwana III) dari Surakarta. Dia membuat motif tersebut sebagai perlambang ketulusan cinta tanpa syarat, abadi, dan <em>tumaruntum</em> (semakin lian kian subur berkembang).</p>
<p>Inilah yang membuat kain bermotif tuntum hanya dapat digunakan oleh orang tua pengantin ketika hari pernikahan dengan pengharapan supaya kedua mempelai selalu dihinggapi cinta kasih. Terkadang, juga dimaknai agar para orang tua “menuntun” keduanya memasuki kehidupan yang baru.</p>
<p>Motif tersebut bisa dikombinasikan dengan ragam hias lain, yaitu Truntum Pari, Trumtum Babon Angrem, dan Truntum Garuda.</p>